<div class="jumbotron" >
	<div class="container" >
		<h1 align="center">Bienvenue sur GesDePro</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card-body">
				<h2>GesDePro</h2>
				<p>
					<b>GesDePro</b> est un site de gestion de projets ...
				</p>
				<p>
					<i>Créé par l'équipe HCGL</i>
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card-body">
				<app-signin></app-signin>
				<div class="text-center">
					<a routerLink="/signup">Create account</a> or <a routerLink="/resetPassword">reset password</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!--
<div class="col-md-6">
	<form id="login">
		<div class="container">
			<div class="well">
				<div class="col-md-6">

					<h2>Login</h2>
					<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username" [(ngModel)]="model1.username" #username="ngModel" required />
							<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password" [(ngModel)]="model1.password" #password="ngModel" required />
							<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
						</div>
						<div class="form-group">
							<button [disabled]="loading1" class="btn btn-primary">Login</button>
							<img *ngIf="loading1" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
						</div>
						<div *ngIf="error" class="alert alert-danger">{{error}}</div>
					</form>

				</div>
				<div class="col-md-6">
					<h2>New account?</h2>
					<form name="form" (ngSubmit)="f.form.valid && new()" #f="ngForm" novalidate>

						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username" [(ngModel)]="model2.username" #username="ngModel" required />
							<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
						</div>

						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password" [(ngModel)]="model2.password" #password="ngModel" required />
							<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
						</div>

						<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirm.valid }">
							<label for="password">Password</label>
							<input type="confirm" class="form-control" name="confirm" [(ngModel)]="model2.confirm" #confirm="ngModel" required />
							<div *ngIf="f.submitted && !confirm.valid" class="help-block">Password confirm is required</div>
						</div>

						<div class="form-group">
							<button [disabled]="loading2" class="btn btn-primary">Login</button>
							<img *ngIf="loading2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
						</div>
						<div *ngIf="error" class="alert alert-danger">{{error}}</div>
					</form>
				</div>
			</div>


		</div>
	</form>
</div>
-->
