<div class="modal-header">
	<h4 class="modal-title">{{ formAction }} sprint</h4>
	<button type="button" class="close" aria-label="close"
			(click)="activeModal.dismiss('Cross click')">
		<i class="fa fa-close"></i>
	</button>
</div>
<form *ngIf="usSelection.length > 0" [formGroup]="sprintForm" (submit)="ngOnSubmit($event)" novalidate>
	<div class="modal-body">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="begin">Begin</label>
				<div class="input-group">
					<input type="date" class="form-control" id="begin"
						formControlName="begin" placeholder="yyyy-mm-dd"
						[(ngModel)]="dateModel" ngbDatepicker #d="ngbDatepicker"
						[ngClass]="{
							'is-invalid': (sprintForm.controls['begin'].invalid && sprintForm.controls['begin'].touched),
							'is-valid': sprintForm.controls['begin'].touched}" />
					<button class="input-group-addon" type="button"
						(click)="d.toggle()">
						<i class="fa fa-calendar"></i>
					</button>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="duration">Duration</label>
				<input type="number" class="form-control" id="duration"
					formControlName="duration"
					[ngClass]="{
						'is-invalid': (sprintForm.controls['duration'].invalid && sprintForm.controls['duration'].touched),
						'is-valid': sprintForm.controls['duration'].touched}" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit"
			[disabled]="sprintForm.invalid">{{ formAction }}</button>
	</div>
</form>

<div *ngIf="usSelection.length === 0" class="mt-4 mb-4" align="center">
	<button class="btn btn-outline-danger" disabled>Please select user stories first</button>
</div>
